body {
}

.foot {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #222;
    padding: 10px 0px;
    min-width: 800px;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: center;
}

.index {
    display: flex;
    flex-direction: column;
    color: blue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    background-image: linear-gradient( 45deg, rgb(245, 128, 128), rgb(230, 230, 111) );
    min-width: 800px;
    min-height: 347px;
    height: 85vh;
}

.conaadhar {
    display: flex;
    width: 50%;
    margin: auto;
    box-shadow: 5px 10px 8px 13px black;
    border-radius: 8px;
    color: navy;
}

.text {
    padding: 10px;
    font-size: 2rem;
    text-align: justify;
}

.headaadhar {
    font-size: 4rem;
    font-weight: 200;
    color: red;
}

@media screen and (max-width: 1255px ) {
    .conaadhar {
        width: 70%;
    }

    .text {
        font-size: 1rem;
    }

    .headaadhar {
        font-size: 2rem;
    }
}

@media screen and (max-height: 520px ) {
    .conaadhar {
        width: 70%;
    }

    .text {
        font-size: 1rem;
    }

    .headaadhar {
        font-size: 2rem;
    }
}
