<style>
    .col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
    .col-text {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(111 255 231);
    }
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}



</style>

<section>
    <div class="grid-flex">
       
        <div class="col col-image" style="background-image: url(/Content/image/2853458.jpg);">
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p>
                    &ldquo;The Aadhaar card can be used as an identity card for the Indian citizens. With Aadhaar being connected to other identity cards like PAN, the Aadhaar card has slowly become the sole card accepted all over the country. With an Aadhaar card, you will not be required to register or apply for any other card for any services..&rdquo;
                    @*<cite>- Maya Angelou</cite>*@
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(/Content/image/3412737.jpg);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <p>
                    &ldquo;The Aadhaar card is the only government-issued ID that can be used anywhere in the country. An online application for an Aadhaar card is available. This digital version of the physical copy of Aadhaar is known as an e-Aadhaar and may be viewed anywhere, at any time. .&rdquo;
                    @*<cite>- Jim Henson</cite>*@
                </p>
            </div>
        </div>
    </div>

    
</section>