<style>
    .col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}



</style>

<section>
    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-botanical-gardens.jpg);">
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p>
                    &ldquo;I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.&rdquo;
                    <cite>- Maya Angelou</cite>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-library-sm.jpg);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <p>
                    &ldquo;Simple is good.&rdquo;
                    <cite>- Jim Henson</cite>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-skylight-sm.jpg);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p>
                    &ldquo;Everybody has a plan until they get punched in the mouth.&rdquo;
                    <cite>- Mike Tyson</cite>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-overture.jpg);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <p>
                    &ldquo;We are what we pretend to be, so we must be careful about what we pretend to be&rdquo;
                    <cite>- Kurt Vonnegut, Jr.</cite>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-rainbow.jpg);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p>
                    &ldquo;Perfect is the enemy of good.&rdquo;
                    <cite> - Voltaire</cite>
                </p>
            </div>
        </div>
    </div>
</section>