
@{
    ViewBag.Title = "welcome";
}

<div class="alert alert-success alert-dismissible" style="margin-bottom:0px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>😊Congrates!</strong> for getting your Aadhar.
</div>
<div class="bigbox">

    <div class="smbox">
        <div>
            <img src="https://image.pngaaa.com/91/1387091-middle.png" alt="stambh" width="60em" height="auto" />
            <img src="~/Content/image/aadharflag.jpg" width="300px" height="50px" />
            <img src="https://seeklogo.com/images/A/aadhaar-hindi-logo-96C4555231-seeklogo.com.png" alt="Aadhar UIDAI" width="60em" height="auto" />

        </div><br />
        <div class="con4">
            <div>
                <img src="~/Content/image/img_avatar2.png" width="100px" height="110px" class="image" />
            </div>
            <div class="con5">
                <p>Ritesha kumari(hindi)</p>
                <p>Ritesha kumari</p>
                <p>DOB:30/Feb/2018</p>
                <p>Female</p>
            </div>

        </div><br />
        <div class="boxbot">
            <p>Aadhar number</p>
        </div>
        <div class="h"></div>
        <div class="boxbot">
            <p>मेरा <span class="red">आधार,</span> मेरी पहचान</p>
        </div>

    </div>

    <div class="smbox">
        <div>
            <img src="https://image.pngaaa.com/91/1387091-middle.png" alt="stambh" width="60em" height="auto" />
            <img src="~/Content/image/aadharflag.jpg" width="300px" height="50px" />
            <img src="https://e7.pngegg.com/pngimages/279/962/png-clipart-aadhaar-uidai-identity-document-permanent-account-number-india-india-text-logo.png" alt="Aadhar UIDAI" width="60em" height="auto" />
        </div>
        <div class="col5">
            <div class="address">
                <p class="pata">Address:(hindi)</p>
                <p class="p">hdsgjjjjjjjjjjjjjkkkddkjslnkdfsdk<br />jsdjfeejeekjmf;lrr;e<br />khkjsfdhkj</p><br />
                <p class="pata">Address:</p>
                <p class="p">hdsgjjjjjjjjjjjjjkkkddkjslnkdfsdk<br />jsdjfeejeekjmf;lrr;e<br />khkjsfdhkj</p>
            </div>
            <div class="qrcode">
                <img src="https://www.prepressure.com/images/dict_qrcode_prepressure_text.png" alt="qr" width="150px" height="150px" class="image1" />
            </div>
        </div>
        <div class="boxbot">
            <p>Aadhar number</p>
        </div>
        <div class="h"></div>
        <div class="row1">
            <div class="row2">
                <i class="fa-solid fa-square-phone"></i><p>1947</p>
            </div>
            <div class="row2">
                <p>|</p>
            </div>
            <div class="row2">
                <i class="fa-regular fa-envelope"></i>&nbsp;<p>help@uidai.gov.in</p>
            </div>
            <div class="row2">
                <p>|</p>
            </div>
            <div class="row2">
                <i class="fa-solid fa-globe"></i>&nbsp;<p>www.uidai.gov.in</p>
            </div>
        </div>


    </div>
    @*@Html.Partial("~/Views/_PartialView.cshtml")*@

</div>



